.categorie {
  color: #E3E3E3;
  font-weight: bold;
  font-size: 20px;
  margin-left: 43%;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      line-height: 1.4;
      background-color: #2c2c2c;
  }

table { 
    margin-left: auto;
    margin-right: auto;
}
td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
	background-color:black;
        color : #FFFFFF;
        font-weight: bold;
}
table{
  border-collapse: collapse
}

.titre {
  color: #E3E3E3;
  font-size: 20px;
  font-weight: bold;
}
/* bar de recherche */
#myInput {
     margin-left: 30%;
     padding:15px;
     border-radius: 10px;
   }
 
   input[type=text] {
      width: 30%;

	   
	   
   }
 


#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 5;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #3E3E3E; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.loupe {
	width:20px;
	height:20px;
	margin-left: 96%;
}
.menu {
                margin: 10px;
    }
/* fin */
  /* FOOTER */
  footer {
    padding: 20px;
    text-align: center;
    color: #E3E3E3;
    margin: 10px;
  }
  p {
      display: block;
      text-align: center;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      text-align:center
      margin:auto
    }
  
      .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      font-size: 15px;
    }
/* Film */
.main-container {
  padding: 3px;
}




.pre a {
  transition: transform .3s;
  text-align: center;
color : white;
}




}
.pre img {
  border-radius: 20px;
}

img {
width:185px;
height:280px;
}

h1 {
  padding-top: 60px;  
}

h2 {
  color : white;
  font-size: 110%;
  white-space: nowrap;
}
* {
  margin: 0;
  box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
    text-align: center;
	}

@media handheld and (max-width: 860px){
  
  .pre {
      display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
  
}
@media screen,tv,projection and (max-width: 560px){
  
  .pre {
      display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
}
