.toto {
  cursor: crosshair;
    color : #FFFFFF;
  -webkit-text-stroke: 0.4px black;
}


.truc {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  color : #FFFFFF;
  -webkit-text-stroke: 0.4px black;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


body {
    background-image:url('https://static.hitek.fr/img/actualite/ill_m/1477506403/peakyblinders.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;
}
table { 
    margin-left: auto;
    margin-right: auto;
}
td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
	background-color:black;
        color : #FFFFFF;
        font-weight: bold;
}
table{
  border-collapse: collapse
}

.titre {
  color : #FFFFFF;
  -webkit-text-stroke: 0.4px black;
}
#myInput {
     margin-left: 15%;
     padding:15px;
     border-radius: 10px;
   }
 
   input[type=text] {
      width: 30%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }
 
   /* When the input field gets focus,
        change its width to 100% */
   input[type=text]:focus {
     width: 70%;
   }

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 5;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #3E3E3E; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
#overlay {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        background: #999;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 100;
    }

    #popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        background: #fff;
        width: 500px;
        height: 500px;
        margin-left: -250px; /*Half the value of width to center div*/
        margin-top: -250px; /*Half the value of height to center div*/
        z-index: 200;
    }

    #popupclose {
        float: right;
        padding: 10px;
        cursor: pointer;
    }

    .popupcontent {
        padding: 10px;
    }

    #button {
        cursor: pointer;
    }
.loupe {
	width:20px;
	height:20px;
	margin-left: 80%px;
hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: 'ALIX';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
