.toto {
  cursor: crosshair;
    color : #FFFFFF;
  -webkit-text-stroke: 0.4px black;
}


.truc {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  color : #FFFFFF;
  -webkit-text-stroke: 0.4px black;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      line-height: 1.4;
      background-color: black;
  }

table { 
    margin-left: auto;
    margin-right: auto;
}
td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
	background-color:black;
        color : #FFFFFF;
        font-weight: bold;
}
table{
  border-collapse: collapse
}

.titre {
  color : #FFFFFF;
  -webkit-text-stroke: 0.4px black;
}
/* bar de recherche */
#myInput {
     margin-left: 15%;
     padding:15px;
     border-radius: 10px;
   }
 
   input[type=text] {
      width: 30%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }
 
   /* When the input field gets focus,
        change its width to 100% */
   input[type=text]:focus {
     width: 70%;
   }

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 5;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #3E3E3E; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.loupe {
	width:20px;
	height:20px;
	margin-left: 96%;
	text-decoration: underline;
}
.menu {
                margin: 10px;
    }
/* fin */
  /* FOOTER */
  footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }
  p {
      display: block;
      text-align: center;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      text-align:center
      margin:auto
    }
  
      .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      font-size: 15px;
    }
  
    /* LINKS */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  @media screen and (max-width:1175px)
  {
  .banner--fadeBottom {
    margin-top: 160px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
  }
  
      /* FOOTER */
  footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }
  p {
      display: block;
      text-align: center;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      text-align:center
      margin:auto
    }
  
      .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
      font-size: 15px;
    }
  }
